<div class="col-md-3">
            <div class="my-pic">
                <img src="images/teertha.jpg" class="img-fluid side-pic">
            </div>
            <br>
            <hr>
            <h3 class="title" style="font-size: 20px;">Link</h3>
            <div class="side-links">
                <ul>
                    <li><a href="https://github.com/Teerthappa" target="_blank">Github</a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank">Linkedin</a></li>
                    <li><a href="https://www.facebook.com/" target="_blank">facebook</a></li>
                    <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
                </ul>
            </div>            
            <hr>           
            <h3 class="title" style="font-size: 20px;">About this project</h3>
            <div class="side-links">
                <ul>
                    <li>Express Js</li>
                    <li>Node Js</li>
                    <li>HBS</li>
                    <li>MongoDB</li>
                    <li>Bootstrap 4</li>
                    <li>CSS</li>
                    <li>HTML</li>
                </ul>
            </div>
        </div>